data/random/LICENSE.joe-kuo text eol=lf
data/random/new-joe-kuo-6.21201 text eol=lf
src/random/sobol_table_generated.cc text eol=lf
THIRD_PARTY_NOTICES text eol=lf
tools/random/generate_sobol_table.py text eol=lf
